#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.button-add{
  margin: 10px;
  background-color: greenyellow;
}

.button-sort{
  background-color: orange;
  margin: 10px;
}

.delete-button{
  background-color: rgb(253, 66, 66);
  color: white;
}

th{
  padding: 15px;
}
